# === Database ===
#POSTGRES_USER=pantau_user
#POSTGRES_PASSWORD=xYyQklad2k1oINz9O3VWuTgX4WvVw8O
#POSTGRES_DB=pantau_db

# === App ===
#NEXTAUTH_URL=https://pantau.in
#NEXTAUTH_SECRET=GUaNBXIPjgi6/jF0IHXG6ERSlyOikO6cZecz5XUoqHQ=

# Dipakai cron di VPS untuk memanggil endpoint /api/cron/* dengan aman
#CRON_SECRET=441c5b317c625982dadc79f1ab9b217c50f366d5c9dc9906

# === Akun Super Admin pertama (dipakai sekali saat `npm run db:seed`) ===
#SUPERADMIN_EMAIL=owner@pantau.in
#SUPERADMIN_PASSWORD=m0RDTpkK90Lxa0KS2VE8
#SMTP_HOST="smtp.gmail.com"
#SMTP_PORT="587"
#SMTP_USER="pantau.inofficial@gmail.com"
#SMTP_PASS="<diisi-manual>"
#SMTP_PASS="<diisi-manual>"

#GOOGLE_CLIENT_ID=<diisi-manual>
#GOOGLE_CLIENT_SECRET=<diisi-manual>
